[submodule "work_specific_int"]
	path = work_specific_int
	url = https://github.com/wederer/work_specific_int
[submodule "ssh"]
	path = ssh
	url = https://github.com/wederer/private_dotfiles
[submodule "not-stowable/keyboardLayoutWindows"]
	path = not-stowable/keyboardLayoutWindows
	url = https://github.com/wederer/developer-keyboard-layout-windows
