SUBSYSTEM=="backlight", ACTION=="add", RUN+="/bin/chgrp wolfe /sys/class/backlight/intel_backlight/brightness"
SUBSYSTEM=="backlight", ACTION=="add", RUN+="/bin/chmod g+w /sys/class/backlight/intel_backlight/brightness"
